<p>Hola <%= @resource.email %>!</p>

<p>Hemos recibido una solicitud para cambiar la contraseña de tu cuenta. Para cambiar tu contraseña, utiliza los siguientes enlaces:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no pediste el restablecimiento de tu contraseña puedes ignorar este mensaje y tu contraseña no se cambiará, probablemente alguien escribió tu nombre de usuario o correo electrónico por error.</p>

<p>- El equipo de Apartable</p>