/
  \=================================
  promo-line
  \=================================
%section#promo-line.parallax
  .container
    .row
      .col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1.col-md-offset-1
        %h4 Un medio de comunicarse con sus clientes… Que de vida a su restaurante está bien, ¡pero que sus clientes se enteren es aún mejor!
        .link
          %a{href: "#"} Solo en Apartable