/
  \=========================================
  showcase
  \========================================
%section#showcase-wrapper
  .container
    .section-heading-lg
      Un medio de comunicarse con sus clientes… Que de vida a su restaurante está bien, ¡pero que sus clientes se enteren es aún mejor!
    .showcase-text
      .row
        .col-lg-6.col-md-6.col-sm-6
          %p ¿Cuántas veces ha reservado en un restaurante y al colgar le ha surgido la siguiente duda: «¿la persona que me ha atendido ha comprendido bien lo que le he dicho?»  ¿Cuántas veces los clientes pensaban haber reservado para tal día o tal hora y han llegado al día siguiente o el día anterior…? Con esta herramienta, podrá confirmar la reserva mandando un email y/o un SMS a su cliente. ¡Así estaréis los dos tranquilos! Del mismo modo, puede simplemente crear una campaña de e-mail para avisar a sus clientes de que la carta cambia, que va a organizar una animación especial tal día… ¿Pero cómo lo hacía antes? ¿Con un portavoz, un tirachinas, un mensajero, una publicidad terriblemente cara en un periódico que nadie lee…? En menos de 5 minutos podrá dirigirse de forma directa y gratuita (con la opción CRM+) a sus clientes. La competición es feroz, ¡destaque entre los demás y dígalo! ¡Con nuestra herramienta es simple, rápido y eficaz!

        .col-lg-6.col-md-6.col-sm-6
          %p ¿Qué puede ser más agradable que el hecho de sentirse único, esperado, reconocido…? ¿Qué puede ser más agradable que anticipar las necesidades de su cliente? Un cliente tiene una mesa preferida, esta información aparece durante la gestión de servicio. Otro quiere la misma botella de vino de Bourgogne, de tan buena calidad como el que tomó en su última cena… Esta información también puede aparecer. Es importante conocer a sus clientes pero es más importante aún reconocerlos. ¿Está seguro/a de conocer a sus clientes habituales o solo cree conocerlos? Y cuando usted no está allí  ¿sus trabajadores y colaboradores conocen a sus clientes? ¡Con esta herramienta dará una nueva definición a la palabra detalle, cliente, atención al cliente, éxito!
      .row
        .col-lg-6.col-md-6.col-sm-6
          .showcase-links-left
            %a{href: "#"} Learn More
        .col-lg-6.col-md-6.col-sm-6
          .showcase-links-right
            %a{href: "#"} Live Preview
    .clearfix
    .showcase-images
      = image_tag "restaurantes/showcase/left.png", :class => "left"
      = image_tag "restaurantes/showcase/1.png", :class => "center"
      = image_tag "restaurantes/showcase/right.png", :class => "right"

  .promotion
    .container
      .heading Una auténtica herramienta de CRM…  
      %p ¿No tiene tiempo para hablar con todos sus clientes? ¡Nosotros nos encargamos!
      .link
        %a{href: "#"} Solo en Apartable